[submodule "proj-oo/design-pattern-java"]
	path = proj-oo/design-pattern-java
	url = https://github.com/thiago-henrique-leite/design-pattern-java
[submodule "pcd/jogo-da-vida"]
	path = pcd/jogo-da-vida
	url = https://github.com/thiago-henrique-leite/jogo-da-vida
[submodule "engenharia-de-software/web-medical-clinic"]
	path = engenharia-de-software/web-medical-clinic
	url = https://github.com/thiago-henrique-leite/web-medical-clinic
[submodule "compiladores/compilador-c-minus"]
	path = compiladores/compilador-c-minus
	url = https://github.com/thiago-henrique-leite/compilador-c-minus
